@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  /* Light mode colors */
  --light-grey: #e7e7e7;
  --floral-white: #FBF9F1;
  --light-cyan: #90D5D3;
  --dark-cyan: #389491;
  --text-color: #2E3838;

  /* Font */
  --font-family: 'Quicksand', sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

html {
  scroll-behavior: smooth;
}