.header {
    padding: 2rem 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.header-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px var(--light-cyan);
    padding: 1rem 0;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--text-color);
}

.header-logo h2 a {
    text-decoration: none;
    color: var(--text-color);
}

.header-menu {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item a {
    text-decoration: none;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    font-size: 1.125rem;
}

.menu-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--dark-cyan);
    transition: width .3s ease-in-out;
}

.menu-item a:hover {
    color: var(--dark-cyan);
}

.menu-item a:hover::after {
    width: 100%;
}

.header-hamburger {
    display: none;
}

.hamburger-line {
    width: 25px;
    height: 2.5px;
    background-color: var(--text-color);
    transition: all .3s ease-in-out;
}

.hamburger-line + .hamburger-line {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .header-hamburger {
        display: block;
        cursor: pointer;
        margin-right: 1rem;
    }

    .header-hamburger.active .hamburger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 3px);
    }

    .header-hamburger.active .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .header-hamburger.active .hamburger-line:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -6px);
    }
}