.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all .3s ease-in-out;
}

.hero-title {
    font-size: clamp(2rem, 1.443rem + 2.286vw, 3.5rem);
    padding: 0 0 2rem 0;
    margin: 0;
    opacity: 0;
    color: var(--text-color);
    animation: fadeInFromLeft .75s ease-in-out forwards;
    transition: all .3s ease-in-out;
}

span {
    color: var(--dark-cyan);
}

.hero-links {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--light-grey);
    transition: all .3s ease-in-out;
}

.hero-social {
    display: flex;
    gap: 3rem;
}

.hero-content:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.hero-social a {
    text-decoration: none;
    font-size: clamp(2rem, 1.814rem + 0.762vw, 2.5rem);
    color: var(--text-color);
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 998;
}

.hero-social a:hover {
    color: var(--dark-cyan);
}

.hero-social a:nth-child(1) {
    animation: fadeInFromBottom .25s .25s ease-in-out forwards;
}

.hero-social a:nth-child(2) {
    animation: fadeInFromBottom .25s .35s ease-in-out forwards;
}

.hero-social a:nth-child(3) {
    animation: fadeInFromBottom .25s .45s ease-in-out forwards;
}

.contact-me-link {
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    background-color: var(--dark-cyan);
    border-radius: 5px;
    color: white;
    transition: all .3s ease-in-out;
    opacity: 0;
    animation: fadeIn .5s .5s ease-in-out forwards;
}

.contact-me-link:hover {
    background-color: #2a6f6d;
}

.hero-subtitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    padding: 0 0 2rem 0;
    border-bottom: 2px solid var(--light-grey);
    transition: all .3s ease-in-out;
    animation: fadeInFromRight .75s ease-in-out forwards;
}

.hero-subtitles h2 {
    font-size: clamp(2rem, 1.629rem + 1.524vw, 3rem);
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.hero-subtitles h2:hover {
    color: var(--dark-cyan);
}

.projects-link {
    display: block;
    text-decoration: none;
    margin-top: 2.375rem;
    opacity: 0;
    padding: .5rem 1rem;
    border: 1px solid var(--dark-cyan);
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    border-radius: 5px;
    color: var(--dark-cyan);
    transition: all .3s ease-in-out;
    animation: fadeIn .5s .5s ease-in-out forwards;
}

.projects-link:hover {
    background-color: var(--dark-cyan);
    color: var(--floral-white);
}

.down-arrow-container {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    animation: bounce 1s infinite;
}

.down-arrow-icon {
    cursor: pointer;
}

.shapes-up {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(18.75rem, 4.821rem + 57.143vw, 56.25rem);
}

.shapes-up-desk {
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(18.75rem, 4.821rem + 57.143vw, 56.25rem);
}

.shapes-down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(9.375rem, 4.732rem + 19.048vw, 21.875rem);
}

.about-me, .skills, .projects {
    padding-block: 6rem;
    transition: all .3s ease-in-out;
}

.about-me-content p {
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.about-me-content:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #29989420;
    padding: 1rem;
    border-radius: 10px;
    width: 60%;
}

.about-me-content:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
}

.about-me-content:nth-child(2) img:nth-child(1) {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 250px;
    animation: bounceBalls 2s infinite;
}

.about-me-content:nth-child(2) img:nth-child(2) {
    position: absolute;
    width: 200px;
    top: 200px;
    right: 110px;
    animation: bounceBalls 2.5s infinite;
}

.about-me-content:nth-child(2) img:nth-child(3) {
    position: absolute;
    top: 75px;
    right: 100px;
    width: 150px;
    animation: bounceBalls 3s infinite;
}

.about-me-title, .skills-title, .projects-title {
    font-size: clamp(3rem, 2.734rem + 0.851vw, 3.5rem);
    font-weight: 500;
    color: var(--dark-cyan);
    margin: 0;
}

.about-me span {
    font-weight: bold;
}

.skills span {
    font-weight: bold;
}

.cv-download {
    padding: .5rem 1rem;
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    border: 1px solid var(--dark-cyan);
    background-color: transparent;
    width: min(250px, 100%);
    border-radius: 5px;
    color: var(--dark-cyan);
    transition: all .3s ease-in-out;
}

.cv-download:hover {
    background-color: var(--dark-cyan);
    color: white;
}

.cv-download-container {
    position: relative;
}

.choice-container {
    position: absolute;
    top: -5px;
    left: 275px;
    display: flex;
    gap: 2rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;
    animation: fadeInFromLeft .3s ease-in-out;
    background-color: white;
}

.choice-container a {
    text-decoration: none;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    color: var(--dark-cyan);
    transition: all .3s ease-in-out;
}

.choice-container a:hover {
    background-color: var(--light-grey);
}

.skills-content, .projects-content {
    margin-top: 2rem;
}

.skills-grid {
    display: grid;
    gap: 1rem;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.skills-item {
    border: 1.5px solid var(--dark-cyan);
    border-radius: 20px;
    padding: 1.5rem;
    width: 100%;
    transition: all .3s ease-in-out !important;
}

.skills-item:hover {
    box-shadow: 0 0 10px 0 var(--dark-cyan);
}

.skills-item p, .skills-item li {
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.skills-item li::marker {
    color: var(--dark-cyan);
}

.projects-grid {
    display: grid;
    gap: 1rem;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projects-item {
    border: 1.5px solid var(--dark-cyan);
    border-radius: 20px;
    padding: 2rem 1.5rem;
    width: 100%;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transition: all .3s ease-in-out !important;
}

.projects-item:hover {
    box-shadow: 0 0 10px 0 var(--dark-cyan);
}

.logo-container {
    width: min(200px, 100%);
    height: 175px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-name h4 {
    font-size: clamp(1.5rem, 1.407rem + 0.381vw, 1.75rem);
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    font-weight: bold;
}

.project-name p {
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    margin: 0;
    text-align: center;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.project-description p {
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.project-technologies p {
    text-align: center;
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    transition: all .3s ease-in-out;
}

.project-technologies ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: .5rem auto;
}

.project-technologies li {
    font-size: clamp(1rem, 0.929rem + 0.238vw, 1.25rem);
    background-color: rgba(76, 214, 214, 0.473);
    color: var(--dark-cyan);
    padding: .25rem .5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.project-links a {
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    border: 1px solid var(--dark-cyan);
    border-radius: 5px;
    color: var(--dark-cyan);
    transition: all .3s ease-in-out;
}

.project-links a:hover {
    background-color: var(--dark-cyan);
    color: white;
}

.contacts {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .3s ease-in-out;
}

.contacts-title {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 3.5rem 0;
    font-weight: 500;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.contacts-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contacts-icon {
    font-size: 2.5rem;
    color: white;
    transition: all .3s ease-in-out;
    padding: 1.325rem;
    background-color: var(--dark-cyan);
    border-radius: 50%;
}

.contacts-item h4 {
    font-size: clamp(1.5rem, 1.407rem + 0.381vw, 1.75rem);
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    font-weight: 400;
}

.contacts-item a {
    text-decoration: none;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.contacts-column:nth-child(3) .contacts-item a {
    border: 1px solid var(--dark-cyan);
    padding: .5rem 1.5rem;
    color: var(--dark-cyan);
    border-radius: 5px;
}

.contacts-column:nth-child(3) .contacts-item a:hover {
    border-radius: 30px;
}

.go-icon {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.ball-light-contacts-1 {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 225px;
    animation: bounceBalls 2.5s infinite;
}

.ball-dark-contacts-2 {
    position: absolute;
    bottom: 30px;
    right: -50px;
    width: 200px;
    animation: bounceBalls 2s infinite;
}

.ball-light-contacts-3 {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 50px;
    animation: bounceBalls 3s infinite;
}

.right-click {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    z-index: 1000;
    background-color: var(--dark-cyan);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    animation: fadeIn .5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceBalls {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .contacts-column + .contacts-column {
        margin-top: 3rem;
    }

    .contacts-icon {
        font-size: 2rem;
        padding: 1rem;
    }

    .contacts-item {
        gap: 1.5rem;
    }

    .hero-content:nth-child(2) {
        margin-top: 2rem;
    }

    .shapes-up {
        display: block;
    }

    .shapes-up-desk {
        display: none;
    }

    .about-me-container .row {
        flex-direction: column;
        gap: 2rem;
    }

    .about-me-content:nth-child(1) {
        width: 100%;
    }

    .about-me-content:nth-child(2) {
        width: 100%;
        height: 400px;
    }

    .about-me-content:nth-child(2) img:nth-child(1) {
        position: absolute;
        bottom: 25px;
        left: 175px;
        width: 200px;
    }
    
    .about-me-content:nth-child(2) img:nth-child(2) {
        position: absolute;
        width: 150px;
        top: 75px;
        right: 250px;
    }
    
    .about-me-content:nth-child(2) img:nth-child(3) {
        position: absolute;
        top: 25px;
        right: 200px;
        width: 100px;
    }

    .skills-content:nth-child(1) {
        order: 1;
    }
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 90vh;
    }

    .hero-social {
        gap: 1.75rem;
    }

    .ball-light-contacts-1 {
        width: 150px;
    }

    .ball-dark-contacts-2 {
        width: 125px;
    }

    .ball-light-contacts-3 {
        width: 30px;
        top: 175px;
        left: 80px;
    }

    .contacts-column:nth-child(2) .contacts-item h4 {
        font-size: 1.25rem;
    }

    .choice-container {
        top: -75px;
        left: 0;
        padding: .5rem 1rem;
        animation: fadeInFromBottom .3s ease-in-out;
    }

    .about-me-content:nth-child(2) img:nth-child(1) {
        position: absolute;
        bottom: 50px;
        left: 95px;
        width: 200px;
    }
    
    .about-me-content:nth-child(2) img:nth-child(2) {
        position: absolute;
        width: 150px;
        top: 50px;
        right: 150px;
    }
    
    .about-me-content:nth-child(2) img:nth-child(3) {
        position: absolute;
        top: 0px;
        right: 100px;
        width: 100px;
    }
}